{% extends 'store/base.html' %}
{% load static %}


{% block title %}Books{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/index.css' %}">
{% endblock %}

{% block content %}
<h2>All Books</h2>

<div class="book-grid">
  {% for book in books %}
    <div class="book-card">
         {% if book.photos.first %}
            <img src="{{ book.photos.first.image.url }}" alt="{{ book.title }} cover" class="book-cover">
        {% else %}
            <img src="{% static 'store/images/No_image_available.png' %}" alt="No image" class="book-cover">
        {% endif %}
      <h3>{{ book.title }}</h3>
      <p>
        Author:
        {% for author in book.authors.all %}
          {{ author.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      {% if book.is_on_sale and book.discount_price %}
          <p>Price: <del>${{ book.price }}</del> <strong>${{ book.discount_price }}</strong></p>
      {% else %}
          <p>Price: ${{ book.price }}</p>
      {% endif %}

      <a href="{%url 'book_detail' book.id %}">View Details</a>
    </div>
  {% endfor %}
</div>

{% endblock %}
