{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'store/css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="/"><img src="{% static 'store/images/bookstore.png' %}" alt="book store logo"></a>
        </div>

        <div class="search-form">
            <form>
                <input type="text" name="q" placeholder="Search books..." required>
                <button type="submit">Search</button>
            </form>
        </div>

        <div>
            <p><a href="{% url 'about' %}">About</a></p>
        </div>

        <div>
            <p><a href="{% url 'contact' %}">Contact</a></p>
        </div>

        <div class="logo">
            <img src="{% static 'store/images/cart.png' %}" alt="cart"> <br>
            {% if user.is_authenticated %}
                <p><a href="{% url 'cart' %}">Cart</a></p> 
            {% else %}
                <p><a href="{% url 'login' %}">Cart</a></p>
            {% endif %}
        </div>

        <div class="logo">
            <img src="{% static 'store/images/profile.png' %}" alt="profile"> <br>
            {% if user.is_authenticated %}
                <p><a href="{% url 'profile' %}">Profile</a></p> 
            {% else %}
                <p><a href="{% url 'login' %}">LogIn</a> | <a href="{% url 'register' %}">Register</a></p>
            {% endif %}
        </div>
    </div>

    {% block content %}
    {% endblock %}
    <footer>
    <p>&copy; 2025 Bookstore — All rights reserved</p>
    </footer>

</body>
</html>