{% extends 'store/base.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/index.css' %}">
{% endblock %}


{% block content %}
<div class="book-detail">
  <h2>{{ book.title }}</h2>
  <p><strong>Author(s):</strong>
    {% for author in book.authors.all %}
      {{ author.name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Publisher:</strong> {{ book.publisher }}</p>
  <p><strong>Year:</strong> {{ book.year_published }}</p>
  <p><strong>Price:</strong> ${{ book.price }}</p>
  <p><strong>Description:</strong> {{ book.description }}</p>
  <form method="post" action="{% url 'add_to_cart' book.id %}">
    {% csrf_token %}
    <button type="submit" class="add-to-cart-btn">Add to cart</button>
  </form>
  <a href="{% url 'index' %}" class="btn-back">← Back to Home</a>
</div>
{% endblock %}
