{% extends "store/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="hero">
  <h1>Welcome to Bookstore</h1>
  <p>Thousands of books from the best authors. Fiction, science and children's literature - all in one place.</p>
</div>

<h2>Catalog</h2>
<div class="book-grid">
    {% for book in books %}
    <div class="book-card">
        {% if book.image %}
            <img src="{{ book.image.url }}" alt="{{ book.title }}">
        {% endif %}
        <h3>{{ book.title }}</h3>
        <p>Rating: {{ book.average_rating|default:"N/A" }}</p>

        <p>Author:
            {% for author in book.authors.all %}
            {{ author.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}</p>
        {% if book.is_on_sale and book.discount_price %}
            <p>Price: <del>${{ book.price }}</del> <strong>${{ book.discount_price }}</strong></p>
        {% else %}
            <p>Price: ${{ book.price }}</p>
        {% endif %}

        <a href="{%url 'book_detail' book.id %}">View Details</a>
    </div>
    {% endfor %}
</div>

<div style="text-align: center; margin-top: 30px;">
    <a href="{% url 'all_books' %}" class="btn-show-all">Show All Books</a>
</div>

<h2>New Books</h2>
<div class="book-grid">
    {% for book in new_books %}
        <div class="book-card">
            <h3>{{ book.title }}</h3>
            <p>Author:
                {% for author in book.authors.all %}
                    {{ author.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            {% if book.is_on_sale and book.discount_price %}
                <p>Price: <del>${{ book.price }}</del> <strong>${{ book.discount_price }}</strong></p>
            {% else %}
                <p>Price: ${{ book.price }}</p>
            {% endif %}

            <a href="{% url 'book_detail' book.id %}">View Details</a>
        </div>
    {% endfor %}
</div>

<h2>Popular Books</h2>
<div class="book-grid">
    {% for book in popular_books %}
        <div class="book-card">
            <h3>{{ book.title }}</h3>
            <p>Author:
                {% for author in book.authors.all %}
                    {{ author.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>Price: ${{ book.price }}</p>
            <p>Rating: {{ book.average_rating|default:"N/A" }}</p>
            <p>Sales: {{ book.sales_count }}</p>
            <a href="{% url 'book_detail' book.id %}">View Details</a>
        </div>
    {% empty %}
        <p>No popular books yet.</p>
    {% endfor %}
</div>

<h2>Sale</h2>
<div class="book-grid">
    {% for book in books_on_sale %}
    <div class="book-card">
        <h3>{{ book.title }}</h3>
        <p>Author:
            {% for author in book.authors.all %}
                {{ author.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p>Price: <del>${{ book.price }}</del> <strong>${{ book.discount_price }}</strong></p>
        <a href="{% url 'book_detail' book.id %}">View Details</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
