{% extends "store/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/profile.css' %}">
{% endblock %}

{% block content %}
  <div class="profile-container">
    <h2>Welcome, {{ user.username }}!</h2>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone:</strong> {{ customer.phone }}</p>
    <p><strong>Address:</strong> {{ customer.address }}</p>
  </div>

  <div class="logout">
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  </div>


<h2>Your Orders</h2>

{% if orders %}
    {% for order in orders %}
        <div class="order">
            <h3>Order #{{ order.id }} — {{ order.ordered_at|date:"d M Y H:i" }}</h3>
            <ul>
                {% for item in order.cart.items.all %}
                    <li>{{ item.book.title }} — Quantity: {{ item.quantity }} — Price: ${{ item.get_total_price }}</li>
                {% endfor %}
            </ul>
            <p><strong>Total:</strong> ${{ order.cart.get_total_price }}</p>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>You have no orders yet.</p>
{% endif %}

{% endblock %}
